/*Carrossel*/   
    .carousel-inner {
        position: relative;
        overflow: hidden;
        height: 500px; /* Ajuste conforme necessário */
    }
    .carousel-inner01 {
        position: relative;
        overflow: hidden;
        height: 400px; /* Ajuste conforme necessário */
    }
    .carousel-item {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .carousel-item.active {
        opacity: 1;
        position: relative;
    }
/*Carrossel*/
/*Carrossel 03*/
    #carouselNovo {
        max-width: 600px; /* Ajuste conforme necessário */
        margin: auto;
    }
    #Idsetas {
        width: 6% !important;
    }
/*Carrossel 03*/
/*Atividade 01*/
    label {
        font-family: OpenSans-Light; 
    }
    #botaoResposta, #botaoResposta1 {
        width: 50%;
        padding: .3rem 0rem !important;
        border-radius: 15px;
        background: var(--color-Secundaria);
        color: var(--bs-white);
    }
/*Atividade 01*/
